body { margin-top:0px; margin-bottom:0px; margin-left:auto; margin-right:auto; font:12px Arial, Helvetica, sans-serif; }

a, a:visited { color:#0066CC; font-weight: bold; }
a:hover { text-decoration:none; color:#0066CC; }

p { text-align:justify; margin:7px; }

h1 { font:bold 14px Arial, Helvetica, sans-serif; margin:10px 0px 10px 0px; }
h2 { font:bold 14px Arial, Helvetica, sans-serif; margin:0px 0px 10px 0px; }

img { border:0px; }

form { margin:0px; padding:0px; }
input { font:11px Arial, Helvetica, sans-serif; margin:0px; padding:1px; border:1px #CCCCCC solid;  }
select { font:11px Arial, Helvetica, sans-serif; margin:0px; padding:1px; border:1px #CCCCCC solid; }

th { font:12px Arial, Helvetica, sans-serif; font-weight:bold; text-align:right; vertical-align:top; }
td { text-align:left; vertical-align:top; }





#wrapper {
width:950px; height:100%;
margin-left:auto; margin-right:auto;
border-left:1px #000000 solid; border-right:1px #000000 solid; border-bottom:1px #000000 solid;
}

#welcome_screen {
width:950px; height:450px;
font:normal 12px Arial, Helvetica, sans-serif;
}

#content {
width:950px; height:100%;
font:normal 12px Arial, Helvetica, sans-serif;
}

#content h1 { font:16px Arial, Helvetica, sans-serif; font-weight:bold; margin:10px; }

#login_table {
width:300px; height:auto;
margin-top:50px; margin-left:auto; margin-right:auto; padding-top:30px; padding-bottom:30px;
border:1px solid #000000;
}

#footer {
background-color:#173A54; color: #FFFFFF;
height:auto; width:940px; padding:5px;
font:bold 10px Arial, Helvetica, sans-serif;
}

#topmenu {
font:bold 12px Verdana, Arial, Helvetica, sans-serif;
background-color:#EFECD4;
height:20px; width:950px;
border-top:1px #000000 solid; border-bottom:1px #000000 solid;
margin-left:auto; margin-right:auto;
}

#topmenu a {
display:block;
background-color:#F5F0CA;
color:#000000;
font-weight:normal;
text-decoration:none;
padding:3px 8px 3px 8px;
float:left;
border-right:1px #000000 solid; 
}

#topmenu a:hover { background-color:#0066CC; color:#FFFFFF; }

#submenu {
font:bold 10px Verdana, Arial, Helvetica, sans-serif;
background-color:#99CCFF;
height:22px; width:950px;
border-bottom:1px #000000 solid;
margin-left:auto; margin-right:auto;
}

#submenu a {
display:block;
background-color:#99CCFF;
color:#000000;
font-weight:normal;
text-decoration:none;
padding:5px 8px 5px 8px;
float:left;
border-right:1px #000000 solid;
}

#submenu a:hover { background-color:#0066CC; color:#FFFFFF; }


.required { color:#FF0000; }

.confirmation { color:#00CC00; font-size:14px; font-weight:bold; padding:20px; text-align:center; background-color:#FFFFCC; border:1px #006600 solid; }
.error { color: #FF0000; font-size:14px; font-weight:bold; padding:20px; text-align:center; background-color:#FFFFCC; border:1px #990000 solid; }

.failure { color: #FF0000; font:14px Arial, Helvetica, sans-serif; font-weight:bold; padding:40px; text-align:center; }
.failure a { color: #FF0000; }



.highlight { color: #FF0000; font-weight: bold; font-style: italic; }
.formHeader { font:14px Arial, Helvetica, sans-serif; font-weight:bold; }
.formLabel { font:12px Arial, Helvetica, sans-serif; font-weight:bold; text-align:right; padding:3px; }
.formSelect { font:11px Arial, Helvetica, sans-serif; font-weight:bold; padding:0px; }
.formSelectMenu { font:10px Arial, Helvetica, sans-serif; padding:0px; margin-top:1px; }
.formData { font:11px Arial, Helvetica, sans-serif; text-align:left; padding:0px; border:1px #CCCCCC solid; }
.formDataMenu { font:10px Arial, Helvetica, sans-serif; padding:0px; margin-top:2px; border:1px #CCCCCC solid; }
.formWarning { color: #FF0000; font:12px Arial, Helvetica, sans-serif; font-weight:bold; font-style:italic; text-align:center; padding:3px; }
.formSubmit { background-color:#173A54; color:#FFFFFF; font:12px Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; padding:3px; border: solid 1px #000000; }
.formSubmit_small { background-color:#173A54; color:#FFFFFF; font:10px Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; padding:2px; border: solid 1px #B4C8E3; }
.formSubmit2 { background-color:#CCCCCC; color:#000000; font:10px Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; padding:3px; margin-top:3px; border: solid 1px #000000; }


.bluediv_header {
width:923px; height:25px; padding:5px 5px 0px 0px; margin-left:10px; margin-top:10px;
border-top:1px #B4C8E3 solid; border-left:1px #B4C8E3 solid; border-right:1px #B4C8E3 solid;
font:11px Arial, Helvetica, sans-serif; font-weight:bold; text-align:right; background-color:#F3F6FB;
}

.bluediv_content { width:918px; height:auto; padding:5px; margin-left:10px; font:11px Arial, Helvetica, sans-serif; border:1px #B4C8E3 solid; }

.tdwhite td { background-color:#FFFFFF; }
.tdgray td { background-color:#EFEFEF; }
.tdred td { background-color:#FFCCCC; }